* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #EDE8DC;
    --primary-color: #A5B68D;
    --secundary-color: #E7CCCC;
    --font: "Poppins", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: #000;
    height: 100vh;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
}